body{
    font-family: 'Roboto', sans-serif;
}
.forcaImg{
    width: 400px;
}
.containerJogo{
    display: flex;
    justify-content: space-between;
}
.containerForcaImg{
    margin-left: 38px;
    margin-top: 59px;
}
.containerBotaoJogo{
    margin-top: 89px;
    margin-right: 53px;
}
.escolherPalavra{
    width: 200px;
    height: 60px;
    background: #27AE60;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.alfabeto{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 70px;
    
}
.containerLetra{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background: #9FAAB5;;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerAlfabeto{
    display: flex;
    gap: 12px;
    width: 664px;
    flex-wrap: wrap;
}
button{
    border:none;
}
.botaoLetra{
    background-color: #9FAAB5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}